.navbar
  .navbar-inner
    %ul.nav
      %li= link_to "News Feed", root_path
      %li= link_to "My Recipes", my_recipes_path
      %li= link_to "Favorite Recipes", favorite_recipes_path
      %li= link_to "Grocery List", grocery_list_path